@model IEnumerable<Admin_Management.Models.tbltestimonial>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="text-success text-center">Page Details</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                   Profile Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                Profession
                                </th>
                                <th>
                                 Comments
                                </th>
                                 <th>
                                 Active
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>                                 
                                    <td>
                                        <img src="@item.Image" height="100" width="150"/>
                                    </td>   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Profession)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comments)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    
                                     <td>
                                     <a asp-action="EditUser" class="btn btn-success" asp-route-id="@item.Id">Edit</a> |             
                                </td>
                               @*
                                    <td>
                                        <div>
                                            <a asp-action="EditPage" class="btn btn-success" asp-route-id="@item.Id">Edit</a>
                                            <a href="#openModal+@item.Id" class="btn btn-danger" role="button">Delete</a>
                                        </div>

                                        <div id="openModal+@item.Id" class="modalDialog">
                                            <div>
                                                <a href="#close" title="Close" class="text-danger close">X</a>

                                                <h2 class="text-danger">Alert Box</h2>
                                                <p class="text-danger">are you sure you want to delete?</p>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <form asp-action="DeletePage" method="post">
                                                            <input type="hidden" name="Id" value="@item.Id" />
                                                            <input type="submit" value="Yes" class="btn btn-danger" />|
                                                        </form>
                                                    </div>
                                                    <div class="col-3">
                                                        <a href="#close" class="btn btn-danger">No</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

*@







                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>














































