
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>My_CMS </title>
    <link rel="shortcut icon" type="image/jpg" href="/mypic.jpg" />
    <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon">

    <link href="/admin/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />

    <link href="/admin/plugins/simplebar/css/simplebar.css" rel="stylesheet" />

    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/admin/css/animate.css" rel="stylesheet" type="text/css" />

    <link href="/admin/css/icons.css" rel="stylesheet" type="text/css" />

    <link href="/admin/css/sidebar-menu.css" rel="stylesheet" />

    <link href="/admin/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <div id="wrapper">

        <nav id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="/" target="_blank">
                  @*  class="logo-icon"*@
                    <img src="@ViewBag.imagePath" class="img-circle"  height="40" width="90" alt="logo icon">
                    <h5 class="logo-text text-success"></h5>
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol" id="tab">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a href="/admin/">
                        <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="zmdi zmdi-format-list-bulleted"></i>
                        </span>
                        <span class="menu-title"> Page </span>
                        <i class="zmdi zmdi-assignment"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/manage-page">Create Page </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/admin/all-pages">All Pages</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                        <span class="menu-icon">
                            <i class="zmdi zmdi-format-list-bulleted"></i>
                        </span>
                        <span class="menu-title">Blog </span>
                        <i class="zmdi zmdi-assignment-o"></i>
                    </a>
                    <div class="collapse" id="ui-basic1">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/addblog">Add Blog </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/admin/manage-blog">All Blog</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="/admin/manage-enquery">
                        <i class="zmdi zmdi-format-list-bulleted"></i> <span>Enquiry</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/manage-category">
                        <i class="zmdi zmdi-grid"></i> <span>Category</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/media-manager">
                        <i class="zmdi zmdi-album"></i> <span>Media</span>
                    </a>
                </li>


                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
                        <span class="menu-icon">
                            <i class="zmdi zmdi-format-list-bulleted"></i>
                        </span>
                        <span class="menu-title"> Menu </span>
                        <i class="zmdi zmdi-assignment"></i>
                    </a>
                    <div class="collapse" id="ui-basic2">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/menu">Create Menu </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/admin/menu-list">List Of Munu</a></li>
                        </ul>
                    </div>
                </li>

                  <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic2">
                        <span class="menu-icon">
                            <i class="zmdi zmdi-format-list-bulleted"></i>
                        </span>
                        <span class="menu-title"> Testimonial </span>
                        <i class="zmdi zmdi-assignment"></i>
                    </a>
                    <div class="collapse" id="ui-basic3">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/create-testimonial">Create Testimonial </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/admin/testimonial-list">List Of Testimonial</a></li>
                        </ul>
                    </div>
                </li>







                <li>
                    <a href="/admin/subscribe">
                        <i class="zmdi zmdi-album"></i> <span>Subscribe</span>
                    </a>
                </li>



                  <li>
                    <a href="/admin/user-page">
                        <i class="zmdi zmdi-album"></i> <span>Create Page</span>
                    </a>
                </li>

                  <li>
                    <a href="/admin/all-userpage">
                        <i class="zmdi zmdi-album"></i> <span>All User Page</span>
                    </a>
                </li>



                




                @* <li>
                <a href="/admin/media-manager">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Master Content</span>
                </a>
                </li>*@
            </ul>
        </nav>
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <form class="search-bar row" method="post" action="/admin/search-module">
                            <div class="col-2">
                                <select name="Module" class="form-control" >
                                        <option value="Blog">Blog</option>
                                        <option value="Page">Page</option>
                                        <option value="Enquiry">Enquiry</option>
                                    </select>
                            </div>
                                <input type="text" name="SearchString" class="form-control col-8" value="@ViewData["CurrentFilter"]" placeholder="Enter keywords">
                            <div class="col-2">
                                <button type="submit" class="btn btn-success" value="Search">Search</button>
                            </div>                          
                        </form>
                    </li>
                </ul>

               
                <ul class="navbar-nav align-items-center right-nav-link">

                  @*<li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-bell-o"></i>
                        </a>
                    </li>
                  *@
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile">  <img src="@ViewBag.imagePath" class="img-circle" alt="Waredot"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">

                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="@ViewBag.imagePath" alt="Waredot"></div>
                                        <div class="media-body">

                                            <h6 class="mt-2 user-title">@ViewBag.UserId</h6>
                                            <p class="user-subtitle">@ViewBag.Email</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-divider"></li>
                            @* <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>*@
                            <li class="dropdown-item">
                                <a href="/admin/profile">My Account</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <a href="/admin/change-Password">Setting</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <a asp-action="LogOut" asp-controller="Admin">Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="clearfix"></div>
        <div class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        </div>
       
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2023 My Admin
                </div>
            </div>
        </footer>
    </div>

    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/plugins/simplebar/js/simplebar.js"></script>
    <script src="/admin/js/sidebar-menu.js"></script>
    <script src="/admin/js/app-script.js"></script>
    <script src="/admin/plugins/Chart.js/Chart.min.js"></script>
    <script src="/admin/js/index.js"></script>

    <script>
        $('.btn99').click(function () {
            //Create an auxiliary hidden input
            var aux = document.createElement("input");
            //Get the text from the element passed into the input
            aux.setAttribute("value", $(this).attr('title'));
            //Append the aux input to the body
            document.body.appendChild(aux);
            //Highlight the content
            aux.select();
            //Execute the copy command
            document.execCommand("copy");
            //Remove the input from the body
            document.body.removeChild(aux);
            alert($(this).attr('title'));
        });
    </script>
</body>
</html>
















